
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer .wave
{
  position: absolute;
  top: -150px;
  Left: 0;
  width: 100%;
  height: 210px;
  background:url(wave.png);
  background-size: 1000px 210px;
}


footer .wave#wave1
{
  z-index: 1;
  opacity: 1;
  bottom: 0px;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2
{
  z-index: 2;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

@keyframes animateWave
{
  0%
  {
    background-position-x: 1000px;
  }
  100%
  {
    background-position-x: 0px
  }
}

@keyframes animateWave_02
{
  0%
  {
    background-position-x: 0px;
  }
  100%
  {
    background-position-x: 1000px
  }
}
